---
import { Button } from "./ui/button";
---

<nav class="container pt-5">
  <div class="flex items-center justify-between">
    <a href="/" class="block">
      <img src="/assets/navbar-logo.svg" alt="Green Software Foundation" />
    </a>
    <Button variant="primary"> View Credentials </Button>
  </div>
</nav>
